<form action="/achievements" method='POST'>
  <input type="text" name="title" placeholder="Enter Title">
  <input type="number" name="year" placeholder="Enter Year">
  <input type="text" name="category" placeholder="Enter Category">
  <input type="text" name="img_url" placeholder="Enter Image Url">

  <input type="submit" value="Create Achievement" >
</form>