<div class="overlay"></div>

<h1 id="main-header" class="heroine-name">Heroines</h1>
<p class="heroine-name">A woman who inspires</p>

<form method="get">
  <input type="text" name="search" placeholder="name">
  <input type="text" name="power" placeholder="power">
  <button type="submit">Search</button>
</form>

<a href="google.com">google</a>

<ul>
  <li>
    <p class="heroine-name">Ada Lovelace (1815-1852)</p>
    <p>...she is sometimes regarded as the first to recognise the full potential of a "computing machine" and one of the first computer programmers.</p>
  </li>
  <li>
    <p class="heroine-name">Grace Hopper (1906-1992)</p>
    <p>She popularized the idea of machine-independent programming languages, which led to the development of COBOL, an early high-level programming language still in use today.</p>
  </li>
  <li>
    <p class="heroine-name">Edith Clarke (1883-1959)</p>
    <p>...first woman to be professionally employed as an electrical engineer in the United States,[1] and the first female professor of electrical engineering in the country.</p>
  </li>
  <li>
    <p class="heroine-name">Evenlyn Boyd Granville (1924-)</p>
    <p>Evelyn Boyd Granville was the second African-American woman to receive a Ph.D. in mathematics from an American University; she earned it in 1949 from Yale University. She performed pioneering work in the field of computing</p>
  </li>
  <li>
    <p class="heroine-name">Joan Clarke (1917 - 1996)</p>
    <p>Although she did not personally seek the spotlight, her role in the Enigma project that decrypted Nazi Germany's secret communications earned her awards and citations, such as appointment as a Member of the Order of the British Empire</p>
  </li>
  <li>
    <p class="heroine-name">Carol Shaw (1955-)</p>
    <p>...was one of the first female game designers and programmers in the video game industry. She is best known for creating the Atari 2600 vertically scrolling shooter River Raid (1982) for Activision.</p>
  </li>
  <li>
    <p class="heroine-name">Janese Swanson (1958-)</p>
    <p>She has developed award-winning curricula, electronic toys, and books that encourage girls to explore technology and inventions.</p>
  </li>
  <li>
    <p class="heroine-name">Radia Perlman (1951-)</p>
    <p>She is most famous for her invention of the spanning-tree protocol (STP), which is fundamental to the operation of network bridges...</p>
  </li>
</ul>